.duration-osd {
  border-radius: 6pt;
}

/* Don't have a pressed-in look for bookmark icons as they already have a "filled" icon */
.bookmark-button:checked {
  background-color: transparent;
}

.bookmark-button:checked:hover {
  background-color: color-mix(in srgb, currentColor 7%, transparent);
}

/* Colored Clapper playback progress bar */
clapper-gtk-seek-bar scale trough highlight {
  /* Workaround for adwaita overriding the accent color to white inside OSD https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/_common.scss#L38 */
  --accent-bg-color: @accent_bg_color;
  color: var(--accent-fg-color);
  background-color: var(--accent-bg-color);
}

.video-description {
  padding: 12px;
}

